<div class="text-layout">
    <h2>Pipes personalizados</h2>
    <p>Pipes realizados por nosotros</p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card
            header="Pipe personalizado mayúsculas"
            subheader="uppercase-pipe"
        >
            <p>
                Original: Hola mundo <br/>
                {{ "Hola mundo" | uppercasepipe:onUpperCase }}
            </p>
            <button pButton 
                type="button"
                label="Cambiar texto"  
                class="p-button-raised p-button-rounded"
                (click)="changeCase()"
            >
                <i class="pi pi-pencil mr-2"></i>
            </button>
        </p-card>
    </div>
</div>

